*   
{ 
    margin: 0;
    padding: 0;
}


body{
    background-image: url("/image/008.jpg");
    background: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;

   
}

header {
    margin-bottom:6%;
    background-color: rgba(53, 53, 230, 0.822);
    text-align: center;
    font-size: 2rem;
}


section.professeur{
    display: flex;
    
}

#chen{
   margin-left: 15%;
}

#text-chen{
    font-size: 2rem;
    font-weight: bold;
    font-family:cursive;
}


container.container-1{
    display: flex;
    flex-direction: column;
}
#name{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: red;
    font-family:cursive;
    padding-top: 5%;
}

#sprites{
    background-image: url("/image/kisspng-technology-brand-circle-pokeball-5abd1a5d24e568.9274729215223424931511.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 50%;
    left: 25%;
}


#btn {
 

box-sizing: border-box;
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
background-color: transparent;
border: 2px solid #e74c3c;
border-radius: 0.6em;
color: #e74c3c;
cursor: pointer;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-self: center;
    -ms-flex-item-align: center;
        align-self: center;
font-size: 1rem;
font-weight: 400;
line-height: 1;
margin: 20px;
padding: 1.2em 2.8em;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}
.btn:hover, .btn:focus {
color: #fff;
outline: 0;
}


.first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
  }